/* font */
@font-face{
    font-family: 'Poppins';
    src: url(./fonts/Poppins/Poppins-Bold.ttf);
}
/* all */
*{
    font-family: 'Poppins';
}
body{
    background-color: #202020;
}
a{
    text-decoration: none;
}
.green-text{
    color:#13FF00 ;
}
.white-text{
    color: #ffffff;
}
.lightgray-text{
    color: #8F8F8F;
}
.gray-text{
    color: #C1C1C1;
}
.white2-text{
    color: #E2E2E2;
}
.b-text{
    color: #202020;
}
.center{
    display: flex;
    justify-content: center;
}
/* header */
.ul-header{
    display: flex;
    justify-content: center;
}
.li-header{
    float: right;
    padding-left: 60px;
    list-style-type: none;
    font-size: 20px;
}
/* section1 */
.section1{
    height: 780px;
    width: 100%;
}
.texts1{
    margin-left: 192px;
    margin-top: 165px;
}
.name{
    font-size: 44px;
}
.subject{
    font-size: 50px;
    height: 150px;
    width: 588px;
}
.explain{
    height: 90px;
    width: 596px;
}
/* bottons */
#botton-n1{
    width: 211px;
    height: 54px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 10px;

}
.black-text{
    color: black;
}
#botton-n2{
    font-size: 20px;
    width: 211px;
    height: 54px;
    background-color: #13FF00;
    border-radius:10px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right{
    float: right;
}
.row-botton{
    display: flex;
    align-items:center ;
}
.margin-left5{
    margin-left: 5px;
}
.botton{
    margin-left: 192px;
    margin-top: 40px;
}
/* social medias */
.circle{
    position: relative;
    background-color: #353535;
    width: 61px;
    height: 61px;
    border-radius: 50%;
}
.social-medias{
    float: inline-start;
}
.social-medias{
    margin-left: 120px;
}
.sm{
    float: left;
    padding-left: 31px;
    list-style-type: none;
}
.instagram,.github,.linkdin,.dribbble,.bahance{
    position: absolute;
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
}
/* section2 */
.section2{
    background-color:#161616 ;
    text-align: center;
    height: 575px;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.about-me{
    font-size: 50px;
    display: block;
}
.margin-top-m{
    margin-top: 120px;
}
/* section3 */
.section3{
    height: 480px;
}
.my-services{
    font-size:38px ;
    display: flex;
    justify-content: center;
    margin-top: 120px;
}
.mobile1,.ui,.moshak{
    display: flex;
    justify-content: center;
    align-items: center;
}
.services-r1, .services-r2{
   flex:0 0 50%;
   max-width: 50%;  
   display: flex;
   justify-content: center; 
   flex-direction: column;
}
/* section4 */
.section4{
    height: 894px;
    background-color: #161616;
}
.section4-text{
    display: flex;
    justify-content: space-around;
    margin-left: 30px;
    
}
.education, .jobs{
    margin-top: 95px;
}
/* section5 */
.section5{
   height: 800px; 
}
.boxes{
    display: flex;
    flex-direction: row;
    row-gap: 15px;
    margin:0 -15px;
}
.box{
    width:100% ;
    height:501px ;
    background-color: #272727;
    border-radius: 18px;
    position: relative;
    box-shadow: 0 4px 40px rgba(0,0,0,.16);
}
.box-wraper{
    flex: 0 0 33.33%;
    max-width: 33.33%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.box-wraper .box .main-img {
    width:100%;
    height: 321px;
    object-fit: cover;
    border-radius: 18px 18px 0 0;
}
.jajaja{
    padding:0 15px;
}
.text-box{
    margin-left: 25px;
}
.ui-design{
    display: flex;
    align-items: center;
}
.felesh{
    display: flex;
    align-items: center;
}
.live-botton{
    width: 170px;
    height: 42px;
    border-radius: 10px;
    background-color: #13FF00;
    margin-left: 60px;
}
.botton-text{
    display: flex;
    justify-content: center;
    margin-top: 9px;
}
/* section6 */
.section6{
    height: 1009px;
    background-color: #161616;
    position: relative;
}
.section6-box{
    position: absolute;
    width: 75%;
    height: 685px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background-color:#202020 ;
    border-radius: 33px;
    top: 50%;
    left:50% ;
    transform: translate(-50%,-50%);
    display: flex;
  justify-content: space-between;
}
.left-m{
    width: 50%;
    background: #272727 ;
    border-radius: 0px 33px 33px 0px;
    
}
.right-m{
    position: relative;
}
.left-text{
    margin: 91px 0 0 74px;
}
.phone, .mail, .location{
    display: flex;
    align-items: center;
    font-size: 24px;
    
}
.right-forms{
    position: absolute;
    margin: 91px 0 0 45px;
}
form input , textarea{
    
    background-color: #343434;
    border-radius: 8px;
    border: none;
}
